In [1]:
import numpy as np
import pandas as pd

In [6]:
movie_ids = pd.read_json("movie_ids_01_08_2025.json.gz", lines=True, engine='pyarrow')
movie_ids

         adult       id                      original_title  popularity  video
0        False     3924                             Blondie       5.639  False
1        False     6124                 Der Mann ohne Namen       0.506  False
2        False     8773                 L'Amour à vingt ans       4.373  False
3        False    25449  New World Disorder 9: Never Enough       0.627  False
4        False    31975      Sesame Street: Elmo Loves You!       0.002   True
...        ...      ...                                 ...         ...    ...
1011311  False  1414085            The Death of Angel Candy       0.000  False
1011312  False  1414086                     Aparecer do Sol       0.000  False
1011313  False  1414087                             VULTURE       0.000  False
1011314  False  1414088              Starving while cooking       0.000  False
1011315  False  1414089                      Litio: Lithium       0.000  False

[1011316 rows x 5 columns]

In [8]:
movie_ids = movie_ids[~(movie_ids.adult | movie_ids.video)]
movie_ids

         adult       id                      original_title  popularity  video
0        False     3924                             Blondie       5.639  False
1        False     6124                 Der Mann ohne Namen       0.506  False
2        False     8773                 L'Amour à vingt ans       4.373  False
3        False    25449  New World Disorder 9: Never Enough       0.627  False
5        False        2                               Ariel      15.328  False
...        ...      ...                                 ...         ...    ...
1011311  False  1414085            The Death of Angel Candy       0.000  False
1011312  False  1414086                     Aparecer do Sol       0.000  False
1011313  False  1414087                             VULTURE       0.000  False
1011314  False  1414088              Starving while cooking       0.000  False
1011315  False  1414089                      Litio: Lithium       0.000  False

[960935 rows x 5 columns]

In [11]:
movie_ids_sorted = movie_ids.sort_values(by=['popularity'], ascending=False)
movie_ids_sorted.head(100)

        adult       id                     original_title  popularity  video
390397  False   558449                       Gladiator II    4201.992  False
666071  False   939243               Sonic the Hedgehog 3    4186.749  False
816651  False  1156593                         Culpa tuya    3009.907  False
541628  False   762509              Mufasa: The Lion King    2924.518  False
646890  False   912649              Venom: The Last Dance    2862.276  False
...       ...      ...                                ...         ...    ...
48055   False    68828                           アウトランダーズ     254.379  False
777105  False  1100856              Заклятье. Шепот ведьм     253.315  False
531666  False   748783                 The Garfield Movie     250.661  False
460920  False   653346  Kingdom of the Planet of the Apes     247.480  False
592282  False   829557                 365 dni: Ten dzień     241.541  False

[100 rows x 5 columns]

In [27]:
import requests
from ratelimit import limits, sleep_and_retry

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwZjMyYzhkMWMxMDVlZDA0ZGE3NjVjZjFjNGEyMzczZCIsIm5iZiI6MTcwNzU5NTgyMy4zNTEsInN1YiI6IjY1YzdkODJmOThmMWYxMDE2MmQ2ZGFmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.F0O9tYHXtQ9-ZS-TxyX_MjzQwtSnY1puGCsPwFr6ObA"
}

In [15]:
@sleep_and_retry
@limits(calls=45, period=60)
def make_request(id):
    return requests.get(f"https://api.themoviedb.org/3/movie/{id}?language=en-US", headers=headers)

In [28]:
def format_movie_to_df(movie_json):
    fields = ['id', 'imdb_id', 'title', 'overview', 'release_date', 'poster_path', 'backdrop_path', 'popularity']
    movie_df = pd.DataFrame([{key:movie_json[key] for key in fields}])
    movie_df.rename(columns={'id':'tmdb_id', 'popularity':'tmdb_popularity'}, inplace=True)

    return movie_df

In [29]:
movie_details_df = format_movie_to_df(make_request(414906).json())
movie_details_df

ValueError: If using all scalar values, you must pass an index